<!-- /var/www/html/sites/emse/rooms.html -->
<!DOCTYPE html>
<meta charset="utf-8" />
<html>
    <head >
        <meta charset="utf-8" />
        <title>Display Room</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
        <style>
          body {
			background-image: url("images/bg.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			}
		  ul {
			  list-style-type: none;
			  margin: 0;
			  padding: 0;
			  overflow: hidden;
			  background-color: #333;
			  position: -webkit-sticky; /* Safari */
			  position: sticky;
			  top: 0;
			}

			li {
			  float: left;
			}

			li a {
			  display: block;
			  color: white;
			  text-align: center;
			  padding: 14px 16px;
			  text-decoration: none;
			}

			li a:hover:not(.active) {
			  background-color: #111;
			}

			.active {
			  background-color: #4CAF50;
			}
        </style>
    </head>

    <body>
      <header align="center" style="font-family:aclonica;">
          <div id="titre_principal">
              <div id="logo">
                  <h1 align="center">Lights Control</h1>
              </div>
          </div>
		  <nav>
              <ul>
                  <li><a href="buildings.html">Buildings</a></li>
				  <li><a href="rooms.html">Rooms</a></li>
				  <li><a href="lights.html">Lights</a></li>
				  <li style="float:right"><a href="indexpage.html">Home</a></li>
              </ul>
          </nav>
      </header>

      <div class="container" id="emse_rooms">
          <!-- <h3 class="text-center">List of Rooms</h3> -->
          
          <div id="appLights">
              <table class="table">
                  <thead>
                    <tr class="text-center"><th colspan="8" >List of lights</th></tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Light Level</th>
                        <th scope="col">Room</th>
                        <th scope="col">Status</th>
                        <th scope="col">Light</th>
                        <th scope="col">Switch</th>
                        <th scope="col">Delete</th>
                    </tr>
                  </thead>
                  <form action="">
                    <tbody>
                      <tr v-for="light in lights" >
                        <th scope="row">Light : {{ light.id }}</th>
                        <td> Level : {{ light.level }} </td>
                        <td> roomId : {{ light.roomId }} </td>
                        <td> Status : {{ light.status }} </td>
                        <td><div v-if="light.status == 'ON'"><img src="images/light-on.png"></div>
                            <div v-else-if="light.status == 'OFF'"><img src="images/light-off.png"></div>
                        </td>
                        <td>
                          <button @click="switchLight(light)" class="btn btn-light"><img src="images/switch.png" width="20px" alt="switch.png" /></button>
                        </td>
                        <td>
                          <button @click="deleteLight(light)" class="btn btn-light"><img src="images/delete.png" width="20px" alt="switch.png" /></button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Add light</th>
                        <td>
                          <input v-model="selectedLightLevel" placeholder="Enter level">
                          </input>
                        <td>
                          <select v-model="selectedRoom">
                            <option disabled value="">Select Room</option>
                            <option v-for="room in rooms":value="room.id">{{room.id}}</option>
                          </select>
                        </td>
                        <td>
                          <select v-model="selectedLightStatus">
                            <option disabled value="">Select Status</option>
                            <option>ON</option>
                            <option>OFF</option>
                          </select>
                        </td>
                        <td>
                          <button @click="addLight" class="btn btn-light"><img src="images/plus.png" width="20px" alt="switch.png" /></button>
                        </td>
                      </tr>
                  </tbody>
                </form>
              </table>
          </div>
      </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
              integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
              crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
              integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
              crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
              integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
              crossorigin="anonymous"></script>
      <script src="https://unpkg.com/vue"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="js/emse.js"></script>

    </body>
</html>
